git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc_device
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc_protocol
git+https://github.com/botswana-harvard/django-revision.git@develop#egg=django_revision
git+https://github.com/botswana-harvard/edc-navbar.git@develop#egg=edc_navbar
djangorestframework
django-crispy-forms
django-extensions
django-simple-history
django-js-reverse

# djangorestframework>=3.12.4,<3.13
# django-crispy-forms==2.0
# django-extensions==3.2.3
# django-simple-history==3.3.0
# django-js-reverse==0.9.1
