{% extends 'edc_protocol_register/base.html' %}
{% load staticfiles %}
{% block main %}

<style>

.bg-1 {
    background-color: #428bca; /* dark blue */
    color: #ffffff;
}
.bg-2 {
    background-color: #5bc0de; /* light Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #f9f9f9; /* White */
    color: #555555;
}

</style>

    <form method="post" action=".">
        {% csrf_token %}
        <table class="table">
        {{ form.as_table }}
        </table>
        <button class="btn btn-success" type="submit">SUBMIT</button>
    </form>
{% endblock main %}
