{% extends 'edc_protocol_register/base.html' %}
{% load staticfiles %}

{% block main %}
    <script>
        function showDiv() {
            document.getElementById('welcomeDiv').style.display = "block";
            document.getElementById('reason').style.display = "none";
        }
    </script>

	<p class="h4">
		<a href="{% url 'request_list' %}" class="btn btn-default btn-lg"><i class="fa fa-list fa-lg"></i>Existing Protocols</a>
    </p>

   <table class="table">
       <tr>
           <th>Protocol name</th>
           <th>Description</th>
           <th>email</th>
           <th>Duration</th>
           <th>status</th>
       </tr>
       <tr>
           <td>{{ object.name }} Coulson</td>
           <td>{{ object.description }}</td>
           <td>{{ object.email }}</td>
           <td>{{ object.duration }}</td>
           {% if object.request.status == "P" %}
            <td style="color:orange;"> Pending</td>
           {% elif object.request.status == "A" %}
             <td style="color:green;"> Approved</td>
           {% elif object.request.status == "R" %}
             <td style="color:red;"> Rejected</td>
           {%endif%}
       </tr>
   </table>
    <br><br>
    {% if request.user.groups.all.0.name == 'approvers' %}
    {% if perms.edc_protocol_register.can_reject_request %}
         {% if object.request.status == "P" %}
            <form action="{% url 'approve' object.id %}" method="POST" style="display:inline; ">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" ;>Approve</button>
            </form>


        <button type="submit" id="reason" onclick="showDiv()" class="btn btn-danger">Reject</button>

            <div id="welcomeDiv"  style="display:none;" class="answer_list" >
                <form action="{% url 'reject' object.id %}" method="POST" style=padding-left:20px">
                    {% csrf_token %}
                    <textarea rows="2" cols="20" name="reason" > reason.. </textarea>
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
            </div>
        {% endif %}
    {% endif %}
    {% endif %}


    {% if messages %}
        <ul class="messages" style="color:green;">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %} > {{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock main %}