{% extends 'edc_protocol_register/base.html' %}
{% load static %}

{% block extra-css %}

	
	<link rel="stylesheet" type="text/css" href="{% static 'edc_base/css/dataTables.bootstrap.min.css' %}" >
	
{% endblock extra-css %}


<!-- begin extra-scripts by app ================================================== -->
{% block extra-scripts %}
	<script type="text/javascript" charset="utf8" src="{% static 'edc_base/js/jquery-3.3.1.js' %}"></script>
	<script type="text/javascript" charset="utf8" src="{% static 'edc_base/js/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" charset="utf8" src="{% static 'edc_base/js/dataTables.bootstrap.min.js' %}"></script>
	<script>
		$(document).ready(function() {
		    $('#example').DataTable();
		} );
	</script>
{% endblock extra-scripts %}
<!-- end extra-scripts by app ================================================== -->

{% block main %}

<div class="container bg-3 text-center">
<p class="h4">
	<a href="{% url 'home_url' %}" class="btn btn-default btn-lg"><i class="fa fa-home fa-lg"></i>Home</a>
</p>
</div>

<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Short Name</th>
                <th>Number</th>
                <th>Description</th>
                <th>Status</th>
                <th>PI Email</th>
                <th>Request date</th>
            </tr>
        </thead>
        <tbody>
        	{% for protocol in protocol_request %}
                {% if protocol.request.status == "A" %}
                    <tr style="color:green;">
                {% elif protocol.request.status == "R" %}
                    <tr style="color:red;">
                {%endif%}

                <td><a href="{% url 'request_detail' id=protocol.id %}" class="details">{{protocol.short_name}}</a></td>
                <td>{{protocol.request.response.number}}</td>
                <td>{{protocol.snippet}}</td>
                <td>{{protocol.request.status}}</td>
                <td>{{protocol.pi_email}}</td>
                <td>{{protocol.request_date}}</td>
                </tr>
             {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Description</th>
                <th>Status</th>
                <th>PI Email</th>
                <th>Request date</th>
            </tr>
        </tfoot>
    </table>

{%endblock main%}