{% extends 'edc_protocol_register/base.html' %}
{% load staticfiles %}

{% block main %}
    <style>
        table.row-clickable tbody tr td {
        padding: 0;
    }

    table.row-clickable tbody tr td a {
        display: block;

        padding: 8px;
    }
</style>
    <table class="table table-hover row-clickable">
        <tr>
            <th>name</th>
            <th>description</th>
            <th>status</th>
            <th>pi email</th>
        </tr>
    {% for i in ProtocolRequest %}
            {% if i.request.status == "A" %}
                <tr style="color:green;">
            {% elif i.request.status == "R" %}
                <tr style="color:red;">
            {%endif%}
            <td><a href="{% url 'request_detail' id=i.id %}">{{i.name}}</a></td>
            <td>{{i.snippet}}</td>
            <td>{{i.request.status}}</td>
            <td>{{i.pi_email}}</td>
            </tr>
    {% endfor %}
    </table>


    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


{%endblock main%}